extends layout

block content
  if user
    h2(class="mb-2 text-xl md:text-3xl font-bold") Welcome to our #[span(class="text-red-600") Private club] #{user.userName}! 
  else 
    h2(class="mb-2 text-xl md:text-3xl font-bold") Welcome to our #[span(class="text-red-600") Private club]
  p(class="font-semibold") Please before joining the club read #[a(class="text-blue-600", href="/rules") the rules.]
