extends layout 

block content 
  h2(class="mb-2 text-xl md:text-3xl font-bold") Rules of the private club: 
  ul(class="mt-2 mb-4 p-2 flex flex-col gap-3 md:text-xl list-disc list-inside border border-gray-100 rounded shadow-md md:min-w-96") 
    li Be respectful.
    li All visitors can see user's message.
    li Visitors and users who are not members can not see the name of creator of message nor the date of creation.
    li Only login users can create messages.
    li Only users that have Admin badge can Delete messages.